################ Data_Base_Config ###############
##                                             ##
#                                               #
DB_USER = "root"                                #
DB_PASS = "toor"                                #
DB_DIALECT = "mysql"                            #
DB_HOST = "localhost"                           #
DB_PORT = 3306                                  #
#                                               #
##                                             ##
################ Data_Base_Config ###############


############## Project status report ############

PROJ_STAT = develop # [ develop | debug | prod  ]

############## Project status report ############